/*add css code*/

body{
    padding: 20px;
    box-sizing: border-box;
    font-family: roboto, helvetica, arial, serif;
    background: #f5f0f2;
    background-size: cover;
}

header img{
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 5px solid #fff; 
}

main{
    border-top: 0px solid #26a69a;
    border-bottom: 0px solid #00695c;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    height: 250px;
    width: 250px;
    background: #F5C9E0;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
    transition: all ease 0.3s;
}

main:hover{
    border-top: 4px solid #FA4C4D;
    border-bottom: 4px solid #FA4C4D;
    border-radius: 5px;
    height: 520px;
    width: 350px;
    box-shadow: 0 0 7px #fff;
}

main:hover header img{
    animation: profile_image 2000ms linear both;
    animation-delay: 0.5s;
}

header{
    text-align: center;
}

header h1{
    position: relative;
    text-align: center;
    color: #FA4C4D;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

main:hover header h1{
    margin-top: 0px;
    outline: 0 solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 1px solid #fff;
}

header h2 {
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    line-height: 0px;
    margin: 0;
  }
  
  .profile-bio {
    margin-top: 20px;
    padding: 1px 20px 10px 20px !important;
    transition: all linear 1.5s;
    color: #fff;
    font-size: 14px;
    opacity: 0;
     
  }
  
  main:hover .profile-bio {
    opacity: 1;
  }
  
  .profile-bio p:first-child {
    text-align: center;
    font-size: 16px;
  }
  
  .profile-social-links {
    position: relative;
    margin-top: -440px;
    margin-left: -100px;
    list-style-type: none;
    opacity: 0;
    transition: all ease 0.5s;
  }
  main:hover .profile-social-links{
      margin-left: -30px;
      opacity: 1;
  }
  .profile-social-links li img{
      width: 30px;
      background: #fff;
      border-radius: 50%;
      padding: 4px;
  }
  .button{
      background-color: #f3f704; 
      border: none;
      padding: 13px 35px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin: 4px 18px;
  }
  .button1{
      background-color: white;
      color: #FA4C4D;
      border: 2px solid #FA4C4D;
  
  }
  .button1:hover{
      background-color: #FFE48D;
      color:#FA4C4D;
  }
  .button2{
      background-color: white;
      color: #008cba;
      border: 2px solid #008cba;
  }
  .button2:hover{
      background-color: #8FDBF2;
      color: #008cba;
  }